fastapi
uvicorn[standard]
python-dotenv
requests
psycopg2-binary
langchain-core
openai
jinja2
python-multipart
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pypdf
fpdf2
qrcode[pil]
pandas
openpyxl
